<div class="container-fluid px-0" id="perimetersContainer">
    <div class="row g-0">
        <div class="col-md-5 col-lg-5">
            <div class="wrapper-txt p-5 h-100 text-light align-items-start bg-purple" data-scroll data-scroll-speed="-1">
                <h2 class="mb-3 fw-bold">{{post_perimeters.meta('title_perimeters')}}</h2>
                <p class="mb-0">{{post_perimeters.meta('txt_perimeters')}}</p>
                <p class="color-blue-secondary fw-bold">{{post_perimeters.meta('city_perimeters')}}</p>
                {% if post_perimeters.meta('contact_perimeters').txt_contact_perimeters is not empty %}
                    <p>{{post_perimeters.meta('contact_perimeters').txt_contact_perimeters}}</p>
                {% endif %}        
                    {% if post_perimeters.meta('contact_perimeters').btn_contact_perimeters == true %}
                        <a class="btn btn-round btn-sm btn-outline btn-secondary" href="{{site.link}}/contact">Contactez-nous</a>
                    {% elseif post_perimeters.meta('contact_perimeters').btn_devis_perimeters == true %}
                        <a class="btn btn-round btn-sm btn-outline btn-secondary" href="{{site.link}}/devis">Demandez un devis</a>
                    {% endif %}
            </div>
        </div>
        <div class="col-md-7 col-lg-7">
            <div class="img-inner h-100">
                <img src="{{post_perimeters.meta('img_perimeters')}}" alt="cedclean intervient sur montpellier et les alentours" class="img-fluid img-cover" data-scroll data-scroll-speed="-1"/>
            </div>
        </div>
    </div>
</div>