<div class="container">
    <div class="row g-0">
        <div class="d-lg-flex bg-purple">
            <div class="col-lg-6">
                <div class="h-100">
                    <img src="{{post_service.meta('img_service')}}" alt="services" class="img-fluid img-cover">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="wrapper-service">
                    <h2 class="title-big fw-bolder mb-3">{{post_service.meta('title_service')}}</h2>
                    <p>{{post_service.meta('txt_service')}}</p>
                    <ul class="list-unstyled">
                        {% for post_list_service in posts_list_service %}
                            <li class="list-item"><i class="me-2" data-lucide="{{post_list_service.icon_service_list}}"></i>{{ post_list_service.title }} {{ post_list_service.desc_service_list }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper-cards">
    <div class="container">
        <div class="row">
        {% for post_card_service in posts_card_service %}
            <div class="{% if post_card_service != loop.last %}col-md-6 col-lg-4 mb-5 mb-lg-0 {% else %}col-lg-4{% endif %}">
                <div class="card-service">
                    <div class="card-img">
                        <img src="{{post_card_service.thumbnail}}" alt="" class="w-100 img-cover">
                    </div>
                    <div class="card-content">
                    <h3 class="service-title">{{ post_card_service.title }}</h3>
                    <div class="mb-3">
                        <p>{{ post_card_service.desc_service_card }}</p>
                    </div>
                    </div>
                    <div class="wrap-btn">
                        <a class="btn btn-round btn-sm btn-primary" href="{{site.link}}/demande-de-devis">Demandez un devis</a>
                    </div>
                    <div class="card-hover"></div>
                </div>
            </div>
        {% endfor %}
        </div>
    </div>
</div>